# Ignorar la carpeta de compilación de Cargo
/target

# Ignorar archivos de configuración sensibles
.env

# Ignorar metadatos de Git
.git
.gitignore

# Ignorar archivos temporales de VS Code y del sistema
.vscode
*.swp
*.log